.file-container
{
    padding: 6px;
}

.file-container:hover
{
   background-color: rgba(238, 238, 238, 0.1);
}

.rubber-band
{
   background-color: rgba(0, 0, 238, 0.3);
}

.name-label
{
    text-shadow: 1px 1px black;
}
